body {
	font-family: "Merriweather", serif;
	background-color: darkslategray;
}

#Coding {
	background-color: darkslategray;
	background-image: url("../img/gaming-back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30%;
}

.aqua-color {
	color: deepskyblue;
}

.image {
	border-radius: 200px;
	border: 1px solid black;
	height: 500px;
}

#rcorner1 {
	border-radius: 25px;
	border: 5px solid #000000;
	padding: 30px;
	color: #ffffff;
}

#Mis-trabajos .image-top {
	height: 250px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#Contacto {
	color: white;
}

.card-width {
	width: 18rem;
}
